<% if @tweets %>
  <ul id="tweets" class="tweets">
    <% @tweets.each do |tweet| %>
      <li id="<%= tweet.id %>">
        <%= image_tag(tweet.profile_image_url, alt: tweet.from_user, class: "gravatar") %>
        <span class="user">
          <%= link_to tweet.from_user, '#' %>
        </span>
        <span class="content"><%= tweet.text %></span>
        <span class="timestamp">
          Posted <%= time_ago_in_words(tweet.created_at) %> ago.
        </span>
      </li>
    <% end %>
  </ul>
  <div class="pagination">
    <ul>
      <li><%= link_to 'prev', search_twitter_path(search: @query, max_id: @max_id, page: @page - 1) %></li>
      <% (1..10).each do |page| %>
      <li><%= link_to page, search_twitter_path(search: @query, max_id: @max_id, page: page ) %></li>
      <% end %>
      <li><%= link_to 'next', search_twitter_path(search: @query, max_id: @max_id, page: @page + 1 ) %></li>
    </ul> 
  </div>
<% end %>